@font-face {
  font-family:"DomesticManners";
  src:    url('./fonts/DomesticManners.woff2') format('woff2'),
          url('./fonts/DomesticManners.woff') format('woff'),
          url('./fonts/DomesticManners.otf') format('truetype');
}

@font-face {
  font-family:"Hurryup";
  src:    url('./fonts/Hurryup.woff2') format('woff2'),
          url('./fonts/Hurryup.woff') format('woff'),
          url('./fonts/Hurryup.otf') format('truetype');
}

@font-face {
  font-family:"JandlesRegular";
  src:    url('./fonts/jandles.woff2') format('woff2'),
          url('./fonts/jandles.woff') format('woff'),
          url('./fonts/jandles.otf') format('truetype');
}

@font-face {
  font-family:"LadylikeBB";
  src:    url('./fonts/LadylikeBB.woff2') format('woff2'),
          url('./fonts/LadylikeBB.woff') format('woff'),
          url('./fonts/LadylikeBB.otf') format('truetype');
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color:#B33070;
  position: fixed;
}

a {
  color: #B33070 !important;
  font-size: x-large;
}

img {
  object-fit: cover;
}

.is-white {
  color:white !important;
}

/* ################################################################### */

.inputfile::-webkit-file-upload-button {
  visibility: hidden;
}

.inputfile::before {
  width: 200px !important;
  content: 'Choose your picture';
  display: inline-block;
  background: white;
  border-radius: 3px;
  padding: 5px 8px;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 10pt;
  text-align: center;
  color:black;
}

.inputfile:focus{
  outline: none;
}

form > .inputfile {
  width: 200px;
  margin: 0.75rem 0px;
} 

.radio {
  margin-left:unset !important;
  margin-right: 5px;
}

/* ################################################################### */

.ReactTags__tags{
  background: white;
  padding:5px;
}

.ReactTags__tag {
  margin: 8px;
  padding:5px;
  background: white;
  color: #B33070;
  border-radius: 6px;
  font-weight: bold;
}

.ReactTags__remove {
  color: #B33070 !important;
}

.ReactTags__selected {
  display: flex;
  flex-wrap: wrap;
  background: #eeeeee;
  border-radius: 2px;
  padding: 10px;
}

.ReactTags__tagInput {
  border-radius: 10px;
  padding: 5px;
  background:white;
  margin: 8px;
  padding: 5px;
}

.ReactTags__tagInputField {
  height: 36px;
}

/* ################################################################### */

#root {
  display: flex;
}

#header > ul {
  position: absolute;
  right: 10px;
}

#side {
  position: absolute;
  top: 50px;
  width: 40px;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#main {
  top: 50px;
  left: 40px;
  display: flex;
  position: absolute;
  overflow: scroll;
  justify-content: center;
  height: calc(100% - 50px);
  width: calc(100% - 40px);
  border-radius: 5px 0px 0px;
  background: #B33070 !important;
  color: white;
}

#main::-webkit-scrollbar { 
  display: none; 
}

.green-dot{
  bottom: 0px;
  background: #23d160;
  width: 12px;
  height: 12px;
  border-radius: 15px;
  position: absolute;
  right: 0%;
}

.red-dot{
  bottom: 0px;
  background: #ff3860;
  width: 12px;
  height: 12px;
  border-radius: 15px;
  position: absolute;
  right: 0%;
}

.header-link {
  margin: 5px 0px;
}

.sliderAge {
  width: 40vw;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#parameters {
  flex-direction: column;
  min-height: fit-content;
}

.field-param { 
  width: calc(70vw - 50px);
  max-width: 400px;
  margin: 10px 0px; 
  min-height: max-content; 
  min-height: -moz-max-content;
  margin: auto;
}

.rc-slider-track {
  background:#f0c8dc !important;
}

.rc-slider-handle {
  border: solid 2px white !important;
}

#user {
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: white;
}

#info-user {
  background: white;
  color:  #B33070;
  min-width: 200px;
  max-width: 500px;
  width: calc(100% - 150px);
  border-radius: 7px;
  padding: 17px;
  margin: 40px auto;
}

.header-chat{
  height: 100px;
  color:white;
  font-size: larger;
  position: absolute;
  background: #B33070;
}

.rounded-60{
  width: 60px;
  height: 60px;
  left:5px;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
}

.rounded-30{
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin: 10px;
}


.message-box {
  height: 100px;
  background: #ececec;
  color: #B33070;
  border-bottom: 1px solid #cdcdcd;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#conversation-chat{
  top: 100px;
  width: 100%;
  position: relative;
  background: white;
  height: calc(100% - 100px);
}

.conversation-left{
  align-items: flex-end;
  display: flex;
}

.bubble-left{
  padding: 10px;
  max-width: 70%;
  flex-wrap: wrap;
  word-break: break-all;
  color:white;
  width: fit-content;
  border-radius: 20px;
  background: #B33070;
}

.conversation-right{
  align-items: flex-end;
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
}

.bubble-right{
  padding: 10px;
  max-width: 70%;
  flex-wrap: wrap;
  word-break: break-all;
  color:#B33070;
  width: fit-content;
  border-radius: 20px;
  background: #ececec;
}

#connversation-text{
  bottom: 20px;
  position: absolute;
  padding: 20px;
}

#signin{
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}

#list-message { 
  height: calc(100% - 150px);
  overflow: scroll;
}

#list-message::-webkit-scrollbar { 
  display: none; 
}

#match{
  width: 100%;
  height: 100%;
}

#search-header{
  width: 100%;
  /* height: 50px; */
  height: 100%;
  background: white;
  color: #B33070;
  border: 1px solid;
}


/* ################################ CHAT ################################### */

@media screen and (min-width: 480px) {
  #list-chat {
    width: 25%;
    height:100%;
    min-width: 75px;
    background:white;
    border: 1px solid #cdcdcd;
  }

  #conversation {
    position: relative;
    height:100%;
    width:75%;
    background:white;
  }
  
}

@media screen and (max-width: 479px) {
  #list-chat {
    display: none
  }

  #conversation {
    position: relative;
    height:100%;
    width:100%;
    background:white;
  }
}

#chat{
  width: 100%;
  height: 100%;
  display: flex;
  background: white;
}


/* ################################ PROFIL ################################### */
#profil{
  padding: 10px;
}

.profil-image{
  border-radius: 8px;
  width: 190px;
  height: 250px;
  position: absolute;
}

.profil-image-elem{
  position: absolute;
  width: 190px;
  height: 250px;
}

.profil-bottom{
  width: 100%;
  bottom: 0px;
  display: flex;
  color:#f5e7e7;
  position: absolute;
  justify-content: space-around;
  background: #00000040;
}

.profil-modal{
  background: rgba(0, 0, 0, 0.71);
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  color:#f5e7e7;
}

/* ############################# MESSAGE ###################################### */

.list-message{
  height: 100%;
  width: 100%;
}
.message-active{
  font-size: large;
  border-color: black;
  display: flex;
  padding: 5px;
  border: 1px solid #b33070;
  border-width: 0px 0px 1px 0px;
  background: #dbc4cf !important;
}

/* ################################################################### */

.red-white{
  background: #B33070 !important;
  color:white !important;
}

.white-red{
  background: white !important;
  color:#B33070 !important;
}

.link-white{
  cursor: pointer;
  color: white;
  background:#B33070;
}

.link-white:hover {
  color: #ffd3e9
}

.link-white:focus {
  outline: none;
}

.link-red{
  cursor: pointer;
  color: #B33070;
  background:white;
  border: none
}

.link-white:hover {
  color: #ffd3e9
}

.link-white:focus {
  outline: none;
}

.error-text {
  font-size: smaller;
  color: #ff9d9d;
  text-align: start;
  font-weight: bolder;
  text-shadow:  -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

.error {
  font-size: smaller;
  color: red;
  text-align: start;
  font-weight: bolder;
}

.success {
  font-size: smaller;
  color:#7fff7f;
  text-align: start;
  font-weight: bolder;
}

.pointer{
  cursor: pointer;
}

#list-notif{
  width: 20%;
  min-width: 250px;
  right: 0;
  border-radius: 22px;
  position: absolute;
  margin: 5px;
}

.notif{

}