.global{
    background: linear-gradient( #bc3a63, #a843a1);
    height: 100vh;
    width: 100%;
    display: table;
}

.menu_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.testb{
    
}

/* NAV + FONTAWESOME */

.fa-layers-counter{
    background-color: #5a2f9b;
    opacity: 80%;
}

.icone-fontAwesome{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 2.7em;
}

.cog-icone{
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.cog-icone:hover{
    color: #ED213A;
}


.margin-icone:hover , .margin-icone1:hover{
    color: #ED213A;
}

.margin-icone1{
    margin: 55px 0px 55px 0px;
    cursor: pointer;
}
.margin-icone{
    margin-bottom: 47px;
    cursor: pointer;
}

.fa-user:visited{
    color: white;
}

.fa-nav{
    color: white;
}

/* TITLE */


.main-title{
    width: 100%;
}

.mess-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 60px;
}

.mess-title-picture{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mess{
    color: white;
}

.coq-icon, mess{
    display: table;
    margin-right: 90px;
}

.title-picture{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.dot-green{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #84ff66;
    border: 2px solid #eb6769;
    position: relative;
    left: 15px;
    top: 53px;
    z-index: 4;
}

.picture-client{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.picture-client3{
    position: relative;
    z-index: 3;
}

.picture-client2{
    position: relative;
    z-index: 2;
    left: -20px;
}

.picture-client1{
    position: relative;
    z-index: 1;
    left: -40px;
}



/* TITLE PEOPLES */

.title-peoples{
    width: 220px;
    height: 85px;
    border: 5px dashed white;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.center-title{
    margin-top: 60px;
}

/* PREFER */

.position-prefer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 55px;
   
}

.position-prefer > div{
    margin-right: 20px;
    color: white;
    font-size: 20px;
    padding: 3px 15px;
    background-color: #710c91;
    border-radius: 15px;
    margin-top: 2px;
    cursor: pointer;
}

.position-marge{
    margin-left: 30px;
}

/* PICTURE */

.position-picture-big{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.picture-big{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heart-icon-pic-white{
    position: relative;
    z-index: 2;
    font-size: 2em;
    margin-right: 15px;
    cursor: pointer;
}


.fa-heart{
    position: relative;
    z-index: 1;
}


.heart-icon-pic-pink{
    color: #FF4B2B;
    font-size: 2em;
    margin-right: 15px;
    cursor: pointer;
}

.heart-icon-picture{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.position-picture-big > div {
    width: 275px;
    height: 385px;
    border-radius: 15px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.legend-icon-picture{
    height: 75px;
}

.name-client{
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dot-green-picture{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #84ff66;
    display: table;
    margin-left: 5px;
}



.icon-envelope, .icon-user, .icon-trophy{
    color: white;
    font-size: 25px;
    cursor: pointer;
}


.legend-client{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.position-legend{
    display: flex;
    justify-content: space-around;
} 



/*Responsive*/

@media screen and (max-width: 800px) {
    .position-prefer{
        justify-content: center;
    }

    .mess-title{
        justify-content: space-around;
    }

    .center-title{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .title-peoples{
        margin-left: 0px;
    }
}

@media screen and (max-width: 600px) {
    .mess {
      display: none;
    }

    .mess-title1{
        width: 400px;
    }

    .mess-title-picture{
        justify-content: center;
    }

    .icone-fontAwesome{
        font-size: 1.8em;
    }

    .position-prefer{
        justify-content: center;
    }

    .mess-title{
        justify-content: space-around;
    }

    .coq-icon{
        margin-right: 25px;
    }
}

@media screen and (max-width: 445px) {
    .mess-title1{
        width: 350px;
    }
}