.personal{
    margin-top: 60px;
}

testb{
    border: 1px solid red;
}

.personnal-info{
    margin-top: 40px;
}

.position-title{
    display: table;
}

.form-personal{
    width: 660px;
    height: 885px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px dashed white;
    border-radius: 20px;
}

.marge-perso{
    margin-top: 35px;
}


.personnal-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.title-personal{
    width: 400px;
    height: 85px;
    border: 5px dashed white;
    border-radius: 20px;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-perso{
    margin-bottom: 30px;
    height: 90px;
    width: 600px;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 5px;

    background-color: white;
}

.button-cancel-perso{
    margin-left: 20px;
}

.perso-button{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.input-perso > div {
    font-size: 1.1em;
    color: #888888;
}

.input-perso > div, .input-perso > input{
    box-sizing: border-box;
}

.input-perso > input{
        width: 100%;
        border: none;
        font-size: 1.3em;
        margin-top: 8px;
}

.button-submit-perso, .button-cancel-perso{
    font-size: 1.5em;
    padding: 2px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.button-cancel-perso{
    background-color: white;
}

.button-submit-perso{
    color: white;
    background-color: #720d91;
    border: 1px solid #720d91;
}


@media screen and (max-width: 800px) {
    .center-personal{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .title-personal{
        margin-left: 0px;
        font-size: 25px;
        width: 300px;
    }

    .input-perso{
        width: 400px;
    }

    .form-personal{
        width: 460px;
    }

    .perso-button{
        width: 400px;
    }

    .input-perso > div {
        font-size: 1em;
    }

    .input-perso > input{
        width: 100%;
        border: none;
        font-size: 1em;
        margin-top: 8px;
}
    
}

@media screen and (max-width: 600px) {
    .input-perso{
        width: 280px;
    }

    .form-personal{
        width: 340px;
    }

    .perso-button{
        width: 280px;
    }
    
}