/* Formulaire inscrisption */

.logo{
    background-image: url("../image/logo1.png");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.boutton-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus{
    outline: none;
}

.form-control{
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid #FB4D2F;
    border-radius: 0;
    font-size: 15px;
}

.container-fluid {
    height: 100vh;
}


.logo-center{
    display: flex;
    justify-content: center;
}

.container-fluid .title-center{
    justify-content: start;
}

.button-inscription{
    background-color: #FB4D2F;
    border: 1px solid #FB4D2F;
    width: 200px;
    border-radius: 30px;
    padding: 5px;
}

.logo1{
    height: 200px;
}