/* Formulaire inscrisption */

.title_form{
    text-align: center;
}

.boutton-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type="text"], input[type="email"], input[type="password"], select
{
    color: #FB4D2F;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus{
    outline: none;
}

.form-control{
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid #FB4D2F;
    border-radius: 0;
}

.container-fluid {
    height: 100vh;
}


.title-inscription{
    margin: 0px;
}

.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
}

.container-fluid .title-center{
    justify-content: start;
}

.button-inscription{
    background-color: #FB4D2F;
    border: 1px solid #FB4D2F;
    width: 200px;
    border-radius: 30px;
    padding: 5px;
}