/* Formulaire inscrisption */

.title_form{
    text-align: center;
}

.boutton-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type="text"], input[type="email"], input[type="password"], select
{
    background: linear-gradient(#ECE9E6, #FFFFFF);
}